/* Thumbnail showpage styles */
.card img {
    width: 100%;
}

#show-image {
    padding: 0;
}

/* Campground show page delete button */
.delete-form {
    display: inline;
}

/* ===================================*/
/*          INDEX COLUMNS CARDS        */
/* ===================================*/
.masonry-brick {
	display: inline-block;
	position: relative;
	z-index: 0;
	
}

.overlay {
	position: absolute;
	z-index: 1;
	top: 1em;
	left: 1em;
	bottom: 1em;
	right: 1em;
}

.hide {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
	border-radius: 0;
	transition: all 1s ease;
}

.hoverText {
  opacity: 0;
  position: absolute;
  top: 1em;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	transition: all 1s ease;
}

.hoverText > p {
  margin-bottom: 0;
  font-size: 0.8em;
}

#link {
  margin-top: 15%;
}

.hoverText a {
  color: red;
  text-decoration: none;
}

.masonry-brick:hover .hide {
	opacity: 0.6;
}
.masonry-brick:hover .hoverText {
	opacity: 1;
}

.masonry-brick:hover .card-img-overlay {
	/*color: black;*/
	opacity: 0;
}

#cardIndex {
  border-radius: 0;
  border: 0;
}

.card-img-overlay {
  padding: 0;
  z-index: 2;
  top: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

#title{
  position: absolute;
  left: 0.5em;
  bottom: 0;
  margin-bottom: 0;
}

#masonry-img {
  border-radius: 0;
}

#masonry-text {
  
}

@media (max-width: 768px) {
  /*html {*/
  /*  font-size: 0.8rem;*/
  /*}*/
	.masonry {
		columns: 1;
		column-gap: 1em;
	}
	.card-img-overlay {
	  top: 93%;
	}
	.hoverText > p {
    font-size: 1.2em;
  }
  #title{
    font-size: 1.2em;
  }
  #titleHover{
    font-size: 1.4em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
	/*html {*/
 /*   font-size: 1rem;*/
 /* }*/
	
	.masonry {
		columns: 2;
		column-gap: 0.4em;
	}
	.card-img-overlay {
	  top: 91%;
	}
	.hoverText > p {
    font-size: 1em;
  }
  #title{
    font-size: 1.2em;
  }
  #titleHover{
    font-size: 1.2em;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /*html {*/
  /*  font-size: 1.2rem;*/
  /*}*/
	.masonry {
		columns: 3;
		column-gap: 0.4em;
	}
	.hoverText > p {
    font-size: 1em;
  }
  #title{
    font-size: 1.2em;
  }
  #titleHover{
    font-size: 1.2em;
  }

}
@media (min-width: 1200px) {
  /*html {*/
  /*  font-size: 1.4rem;*/
  /*}*/
	.masonry {
		columns: 4;
		column-gap: 0.4em;
	}
	.hoverText > p {
    font-size: 0.9em;
  }
  #title{
    font-size: 1.1em;
  }
  #titleHover{
    font-size: 1.1em;
  }
	
}

/* ===================================*/
/*          CUSTOM MAP                */
/* ===================================*/
#map {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.marker {
  background-image: url('../images/mapbox-icon.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* ===================================*/
/*          CAMPS GRID DISPLAY        */
/* ===================================*/

/*Flexbox grid fix*/
.flex {
  display: flex;
  flex-wrap: wrap;
}

/* ===================================*/
/*          CUSTOM SEARCH BAR         */
/* ===================================*/
@media (min-width: 992px){
  #left {
  width: 60%;
  }
  
  #search-form-li {
    width: 60%;
  }
  
  #search {
    width: 100%;
  }
  
  #input-search {
    width: 100%;
    border-radius: 30px;
  }
}

#input-search {
    border-radius: 30px;
    background-color: #b1bbc6;
    border: 0;
}

#input-search::placeholder {
  color: white;
  font-size: 0.9em;
}

#input-search:focus {
    border-radius: 30px;
    background-color: white;
    box-shadow: none;
    border: 0;
}
  
@media (max-width: 992px){
  #search-form {
    margin-right: 0;
    margin-left: 0;
  }
  #search {
    width: 100%;
  }
  #input-search {
    width: 100%;
  }
}

/* ===================================*/
/*          USER PROF. CAMPS          */
/* ===================================*/

#row-margin {
  margin-bottom: 20px;
}

.foto{
  position: relative;
}

.foto img {
    transition: all 1s;
}

@media (min-width: 768px){
  .foto img:hover {
    transform: scale(1.1);
  }
}

.absolute{
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 25%;
  color: white;
  text-align: center;
}

.absolute h5 {
  background-color: rgba(60, 47, 61, 0.5);
  opacity: 0.8;
}

/* ===================================*/
/*          STICKY FOOTER             */
/* ===================================*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
  height: 20px;
}

/* ===================================*/
/*          INDEX ROUTES              */
/* ===================================*/
#align {
  margin-top: 15vh;
}
#align-editcomment {
  margin-top: 10vh;
}

#align-newcomment {
  margin-top: 4vh;
}

#onfocus:focus {
  box-shadow: none;
}

.btn-outline-info.focus, .btn-outline-info:focus {

}
button:focus {
  outline: none;
}